@import url('https://fonts.cdnfonts.com/css/amazon-ember');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Amazon Ember', sans-serif;
}

:root {
    --darkGrey: #232f3e;
    --darkBlue: #142d4c;
}

.d_flex {
    display: flex;
}


.d_none {
    display: none;
}